<div class="main-content">
  <div class="container-fluid">
      <div class="card mrt0">
          <div class="card-content">
              <div class="row">
                  <div class="col-sm-6">
                      <p class="mrt10"> Manage all the Attendance details in this page. </p>
                  </div>
                  <div class="col-sm-6 text-right">
                      <button class="btn btn-sm btn-warning btn-simple help-btn mr0">
                          <i class="material-icons help-font">help_outline</i>
                      </button>
                  </div>
              </div>
          </div>
      </div>
      <div id="general">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-icon" data-background-color="rose">
                          <i class="material-icons">card_membership</i>
                      </div>
                      <div class="card-content">
                          <h4 class="card-title">Attendance Managment</h4>
                          <div class="content form-horizontal">
                            <div class="row">
                              <div class="col-md-6 col-sm-6">
                                  <button class="btn btn-social btn-fill btn-twitter">
                                      <i class="fa fa-dribbble"></i> Check In
                                  </button>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                <button class="btn btn-social btn-fill btn-youtube">
                                  <i class="fa fa-reddit"></i> Check Out
                                </button>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      
  </div>
</div>